.search{
       height: 30px;
       background-color: rgb(224, 224, 224);
       border-radius: 15px;
       display: flex;
       width: 40vw;
       align-items: center;
       justify-content: space-around;
       margin: 20px;
        }  
  
   .n{
       display: flex;
       justify-content:space-between;
       flex-direction: row;
       align-items: center;
       }    
   .logo{
       margin: 15px;
       }

   .mep{
       display: flex;
       height: 65px;
       width: 65px;
       margin: 9px;
       background-color: aqua;
       border-radius: 50px;
       }
       
       .text1{
         display: flex;
       }
   
   input{
       background-color: rgb(224, 224, 224);
       border: 0pt;
       margin: 8px;
       width: 55vw;
       }
   body{
       background-color: rgb(230, 255, 255) }

   img{
   
       display: flex;
      align-items: center;
       border-radius: 20px;
       margin: 25px;
    }
   .m{
display: flex;
flex-direction: row;

   }
   .doc{
color: gray;

   }
   
   