body{
    background-color: #DFEFF0;
}
.backcolor{
  background-color: #DFEFF0
}          
.n{
  display: flex;
  justify-content:space-between;
  flex-direction: row;
  align-items: center;

}

  .logo{
 display: flex;
  border-spacing: 15px;
  border-radius: 15px;
  justify-items: center;
  margin: 50px;
  }
  h1{
  font-size: 2vw;
  }
  .about{
      margin-right: 1.5vw;
  }
  .search{
  height: 7vh;
  background-color: rgb(224, 224, 224);
  border-radius: 20px;
  display: flex;
  width: 40vw;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
  }
  .message{
      display: flex;
      margin-left: 5vw;
  }
  .mep{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 6vw;
      width: 6vw;
      margin: 2vw;
      background-color: #66BFBF;
      border-radius: 50px;
  }
    
    .pox1{
    height: 20vh;
    width: 15vw;
    background-color: 276678;
    border-radius: 20px;
    }
    
    input{
    background-color: rgb(224, 224, 224);
    border: 0pt;
    margin: 8px;
    width: 55vw;
    }
    
   
    .placeholder{
    display: flex;
    margin: 5px;
    }
    
    .textdiv{
    display: flex;
    background-color: white;
    height: 90vh;
    width: 97vw;
    border-radius: 20px;
    margin: 5px;
    }
    