body{
    background-color: #DFEFF0;
}
.backcolor{
  background-color: #DFEFF0
}          
    .n{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    align-items: center;
    
    }
    .logo{
    display: flex;
    border-spacing: 10px;
    border-radius: 15px;
    justify-items: center;
    margin: 50px;
    }
    .search{
    height: 7vh;
    background-color: rgb(224, 224, 224);
    border-radius: 20px;
    display: flex;
    width: 40vw;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
    }
     
           
    .singin{
    display: flex;
    flex-direction: column;
    }
    
    
    .mep{
    display: flex;
    height: 10vh;
    width: 5vw;
    margin: 9px;
    background-color: aqua;
    border-radius: 50px;
    }
    
    .pox1{
    height: 20vh;
    width: 15vw;
    background-color: 276678;
    border-radius: 20px;
    }
    
    input{
    background-color: rgb(224, 224, 224);
    border: 0pt;
    margin: 8px;
    width: 55vw;
    }
    
   
    .placeholder{
    display: flex;
    margin: 5px;
    }
    .back{
    display: flex;
    background-color: white;
    width: 8vw;
    height: 18vh;
    margin: 5px;
    border-radius: 60px;
    justify-content: center;
    align-items: center;
    }
    .textdiv{
    display: flex;
    background-color: white;
    height: 90vh;
    width: 97vw;
    border-radius: 20px;
    margin: 5px;
    }
    