
   
.n{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    align-items: center;

    }
    .logo{
   display: flex;
    border-spacing: 15px;
    border-radius: 15px;
    justify-items: center;
    margin: 50px;
    }
    .search{
height: 7vh;
background-color: rgb(224, 224, 224);
border-radius: 20px;
display: flex;
width: 40vw;
align-items: center;
justify-content: space-around;
margin: 20px;
 }
        .sline{
 display: flex;
 height: 1vh;
 width: 30vw;
 margin: 25px;
background-color: black;
 flex-direction: row;
  align-items: flex-end;
 }
          
 .backcolor{
background-color: rgb(208, 255, 255);

 }              
 .singin{
    display: flex;
    flex-direction: column;
}
.logo{
    display: flex;
border-spacing: 10px;
border-radius: 15px;
margin: 30px;
justify-items: center;

}
.n{
display: flex;
justify-content:space-between;
flex-direction: row;
align-items: center;
}
.si{
    display: flex;
    height: 60vh;
    width: 60vw;
    border: 55px;
border-radius: 15px;
justify-content: space-around;
flex-wrap: wrap;
}
.logo{
margin: 15px;
}
.singtag{
display: flex;
justify-content: space-around;
flex-direction: column;
align-items: center;
}
.sing1{
    text-align: center;
    height: 10vh;
    width: 40vw;
    background-color: rgb(148, 148, 148);
    border-radius: 20px;
}
.mep{
display: flex;
height: 65px;
width: 65px;
margin: 9px;
background-color: aqua;
border-radius: 50px;
}
.pox1{
    height: 15vh;
    width: 15vw;
    background-color: 276678;
    border-radius: 20px;

}
     .gar{
    border-radius: 15px;
    align-items: flex-start;1687A7
    justify-content: space-around;
     }
     
    
          .imgl{
    display: flex;
    width: 18vw;
     height: 50vh;
     background-color: white;
     flex-direction: column;

          }      
          .text1{
            display: flex;
           
          }
.text2{
display: flex;

}

input{
background-color: rgb(224, 224, 224);
border: 0pt;
margin: 8px;
width: 55vw;
}
body{
    background-color: rgb(230, 255, 255);
}
 img{

    display: flex;
   align-items: center;
   
    margin: 25px;
 }
 .text2{
display: flex;
margin: 5px;
 }

.textimg{
    display: flex;
justify-content: space-around;
}
.chat{
display: flex;
background-color: rgb(207, 207, 207);
width: 20vw;
height: 66vh;
}
.kl{
background-color: rgb(235, 235, 235);
height: 80vh;
width: 20vw;
border-radius: 15px;
}
.chatbox{
display: flex;
flex-direction: row;
justify-content: space-around;
}
.chatroom{
height: 15vh;
width: 18vw;
background-color: white;
border-radius: 15px;
margin: 14px;

}
.ctext{
    display: flex;
    flex-direction: row;
}
.i{
display: flex;
align-items: flex-start;
}
img{
    display: flex;
    border-radius: 10px;
}
.placeholder{
    display: flex;
    margin: 5px;
}
.back{
 display: flex;
background-color: white;
width: 8vw;
height: 18vh;
margin: 5px;
border-radius: 60px;
justify-content: center;
align-items: center;
}
